#Assignment-section {
  margin: 50px;
}

.outer-assignment-div-main {
  display: flex;
  flex-direction: column;
}

.outer-assignment-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

.parent {
  width: 300px;
  padding: 20px;
  perspective: 1000px;
}

.card {
  padding-top: 50px;
  border: 3px solid #141414;
  transform-style: preserve-3d;
  background: linear-gradient(135deg, #0000 18.75%, #f3f3f3 0 31.25%, #0000 0),
    repeating-linear-gradient(45deg, #f3f3f3 -6.25% 6.25%, #141414 0 18.75%);
  background-size: 60px 60px;
  background-position: 0 0, 0 0;
  background-color: #141414;
  width: 100%;
  box-shadow: rgba(142, 142, 142, 0.3) 0px 30px 30px -10px;
  transition: all 0.5s ease-in-out;
}

.card:hover {
  background-position: -100px 100px, -100px 100px;
  transform: rotate3d(0.5, 1, 0, 30deg);
}

.content-box {
  background: var(--card-color);
  transition: all 0.5s ease-in-out;
  padding: 60px 25px 25px 25px;
  transform-style: preserve-3d;
}

.content-box .card-title {
  display: inline-block;
  color: rgb(89, 0, 255);
  font-size: 25px;
  font-weight: 900;
  transition: all 0.5s ease-in-out;
  transform: translate3d(0px, 0px, 50px);
}

.content-box .card-title:hover {
  transform: translate3d(0px, 0px, 60px);
}

.content-box .card-content {
  margin-top: 10px;
  font-size: 12px;
  font-weight: 700;
  color: #141414;
  transition: all 0.5s ease-in-out;
  transform: translate3d(0px, 0px, 30px);
}

.content-box .card-content:hover {
  transform: translate3d(0px, 0px, 60px);
}

.content-box .see-more {
  cursor: pointer;
  margin-top: 1rem;
  display: inline-block;
  font-size: 15px;
  text-transform: uppercase;
  color: rgb(232, 232, 232);
  background: rgb(89, 0, 255);
  padding: 0.5rem 0.7rem;
  transition: all 0.5s ease-in-out;
  transform: translate3d(0px, 0px, 20px);
}

.content-box .see-more:hover {
  transform: translate3d(0px, 0px, 60px);
}

.date-box {
  position: absolute;
  top: 30px;
  right: 30px;
  height: 60px;
  width: 60px;
  background: #141414;
  padding: 10px;
  transform: translate3d(0px, 0px, 80px);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 17px 10px -10px;
}

.date-box .assignment-number {
  font-size: 30px;
  font-weight: 900;
  color: #ffffff;
}

@media (max-width: 720px) {
  #Assignment-section {
    margin: 30px 15px;
  }

  .outer-assignment-div {
    flex-direction: column;
    align-items: center;
    margin: 30px 0;
    gap: 40px;
  }

  .parent {
    width: 70vw;
    max-width: 400px;
    padding: 15px;
  }
}

@media (max-width: 480px) {
  #Assignment-section {
    margin: 20px 10px;
  }

  .outer-assignment-div {
    margin: 20px 0;
    gap: 30px;
  }

  .parent {
    width: 85vw;
    max-width: none;
    padding: 10px;
  }

  .content-box {
    padding: 50px 20px 20px 20px;
  }

  .content-box .card-title {
    font-size: 22px;
  }

  .date-box {
    top: 20px;
    right: 20px;
    height: 50px;
    width: 50px;
  }

  .date-box .assignment-number {
    font-size: 25px;
  }
}
