:root {
  --bg-color: #ffffff;
  --nav-bg-color: #f8f8f8;
  --text-color: #333333;
  --hover-color: #aa00ff;
  --color-transition: background-color 0.3s ease, color 0.3s ease;
  --card-color: #dee2e6;
}

body.dark-mode {
  --bg-color: #000000;
  --nav-bg-color: #000000;
  --text-color: #575252;
  --hover-color: #3498db;
  --card-color: rgb(116, 113, 113);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Genos", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: var(--color-transition);
}
